ul li a {
  text-transform: uppercase;
  color: #4c4c4c !important;
  font-size: 16px;
  font-weight: 400;
}
ul li a:hover {
  color: #8ab7ea !important;
}

/* .user img {
  width: 30px;
  border-radius: 50%;
} */

.web-logo {
  width: 100px;
}

.nav_main {
  display: flex;
  justify-content: space-between;
  background-color: #808081;
  padding: 20px;
}
.web-logo {
  width: 60px;
}
.login_header {
  color: #091b36;
}
