.review-from {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 320px;
  width: 500px;
  border-radius: 10px;
  background-color: white;
  padding-top: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.review-btn {
  margin-top: 20px;
  padding: 5px 30px;
}
.write-review {
  background-color: #fcf6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 688px) {
  .review-from {
    height: 320px;
    width: 350px;

    padding-top: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
}
