.review-card img {
  width: 65px;
  margin: auto;
  border-radius: 50%;
}
.review-card {
  text-align: center;
  width: 500px;
}
.review-card h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
  color: rgb(160, 18, 105);
}
.rating {
  color: #faca51;
  margin: 1px;
}
.review-card-bac {
  background-color: #f5f5f5;
}
