.bkashDiv {
  /* margin-bottom: 5px;
  margin-right: 5px; */
  border-radius: 10px !important;
  border: 2px solid #bdbdbd;
  margin: 2px;
}
.nagadDiv {
  padding-bottom: 21px;
  margin: 2px;

  border: 2px solid #bdbdbd;
  border-radius: 10px !important;
}
.rocketDiv {
  border-radius: 10px !important;
  border: 2px solid #bdbdbd;
  margin: 2px;
}
.bankDiv {
  border-radius: 10px !important;
  border: 2px solid #bdbdbd;
  margin: 2px;
  padding-bottom: 4px;
}
.input-dev-dep {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
}
.div-main-title {
  padding-top: 20px;
  padding-bottom: 10px;
}
.submit-btn-dep {
  padding-left: 80px;
  padding-right: 80px;
  color: black !important;
  font-weight: bold;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .input-dev-dep {
    padding-left: 0px;
    padding-right: 0px;
  }
  .bkashDiv {
    margin: 2px;
  }
  .nagadDiv {
    margin: 2px;
  }
  .rocketDiv {
    margin: 2px;
  }
  .bankDiv {
    margin: 2px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
