.SingleProduct {
  margin: 10px;
  margin-bottom: 20px;
  text-align: start;
}
.SingleProduct img {
  width: 286px;
  height: 285px;
}
.product-title a {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 14px;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
}
.price .new {
  color: #1d1d1d;
  font-weight: 600;
}
.SingleProduct .card {
  width: 18rem;
  height: 26rem;
}
.SingleProduct .card {
  border: 0;
}

.SingleProduct {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.SingleProduct:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.rating {
  color: #ffde00;
  font-size: 14px;
}
.rating-count {
  color: #9f9e9e;
  font-size: 14px;
  margin-left: 5px;
}
