.productsarea {
  margin-top: 100px;
}
.productsarea .productsarea-title {
  font-size: 36px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  margin-bottom: 11px;
  background: linear-gradient(-96deg, #fd3d6b 0, #fd7863 98%, #e7979c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
  text-align: start;
}
.productsarea .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
}
@media only screen and (max-width: 688px) {
  .productsarea .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .productsarea .SingleProduct .card {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
