.offer-time-line {
  background-image: url(https://i.ibb.co/FqDhzx9/deal-bg.jpg);
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
.FASHION {
  margin-top: 150px;
  margin-bottom: 30px;
  margin-left: 100px;
  font-size: 18px;
}
.offer-time-line {
  padding-left: 300px;
  padding-top: 17px;
}
.shop-now {
  background: linear-gradient(155deg, #fd3f6b 0, #fd7863 98%, #f3dfe0 100%);
  border: 0;
  padding: 20px 40px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  margin-top: 1000px;
  font-weight: 700;
  transition: 0.6s;
  margin-left: 100px;
}
.shop-now:hover {
  box-shadow: 0 5px 15px 0 rgb(153 63 107 / 50%);
  color: white;
}
@media only screen and (max-width: 688px) {
  .offer-time-line .FASHION-dev {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .offer-time-line .FASHION-dev img {
    width: 300px;
  }
  .shop-img-sec {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .offer-time-line {
    padding-left: 0px;
    padding-top: 17px;
  }
  .FASHION {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 18px;
    text-align: center;
  }
  .shop-now {
    padding: 5px 10px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    margin-top: 100px;
    font-weight: 700;
    transition: 0.6s;
    margin-left: 5px;
  }
  .shop-now-sec {
    margin-left: auto;
    margin-right: auto;
  }
}
